CREATE DATABASE [QuanLyCuaHangXe];
GO

USE [QuanLyCuaHangXe]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [nvarchar](255) NOT NULL,
	[MaHD] [nvarchar](255) NOT NULL,
	[MaSP] [nvarchar](255) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSuaCHua]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSuaCHua](
	[MaCTSuaChua] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuSuaChua] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTSuaChua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [int] IDENTITY(1,1) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
 CONSTRAINT [PK__ChucVu__27258E76A841EA9C] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaiLy]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaiLy](
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[MaKho] [int] NOT NULL,
	[TenDaiLy] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK__DaiLy__069B00B3D4558644] PRIMARY KEY CLUSTERED 
(
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](255) NOT NULL,
	[MaKH] [nvarchar](255) NOT NULL,
	[MaNV] [nvarchar](255) NOT NULL,
	[NgayLapHoaDon] [datetime] NULL,
	[TongTien] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](255) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](255) NULL,
	[SoCCCD] [nvarchar](255) NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [datetime] NULL,
	[Email] [nvarchar](255) NULL,
 CONSTRAINT [PK__KhachHan__2725CF1E8E6917E4] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinhKien]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhKien](
	[MaLinhKien] [nvarchar](255) NOT NULL,
	[MaNCC] [nvarchar](255) NOT NULL,
	[MaCTSuaChua] [int] NULL,
	[TenLinhKien] [nvarchar](50) NULL,
	[ImgPath] [nvarchar](255) NULL,
	[GiaBan] [real] NOT NULL,
	[SoLuongKho] [int] NULL,
	[SoLuongBan] [int] NULL,
 CONSTRAINT [PK__LinhKien__05E780BF9F856762] PRIMARY KEY CLUSTERED 
(
	[MaLinhKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](255) NOT NULL,
	[Ten] [nvarchar](50) NULL,
 CONSTRAINT [PK__NhaCungC__3A185DEB1A93DBCC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](255) NOT NULL,
	[MaPB] [int] NOT NULL,
	[MaCV] [int] NOT NULL,
	[HoTenNV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[SDT] [nvarchar](255) NULL,
	[SoCCCD] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[GioiTinh] [bit] NOT NULL,
	[TrinhDoHocVan] [nvarchar](50) NULL,
	[BacTho] [nvarchar](50) NULL,
 CONSTRAINT [PK__NhanVien__2725D70AC60AD25D] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuSuaChua]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuSuaChua](
	[MaPhieuSuaChua] [int] IDENTITY(1,1) NOT NULL,
	[NhanXet] [nvarchar](255) NULL,
	[GiaTien] [real] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuSuaChua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTiepNhan]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTiepNhan](
	[MaPhieuTiepNhan] [int] IDENTITY(1,1) NOT NULL,
	[XeMaXe] [nvarchar](255) NOT NULL,
	[MaPhieuSuaChua] [int] NOT NULL,
	[MaNV] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuTiepNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [int] IDENTITY(1,1) NOT NULL,
	[MaDaiLy] [nvarchar](50) NOT NULL,
	[TenPB] [nvarchar](50) NULL,
 CONSTRAINT [PK__PhongBan__2725E7E404961710] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 5/4/2023 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [nvarchar](255) NOT NULL,
	[MaNCC] [nvarchar](255) NOT NULL,
	[TenXe] [nvarchar](50) NULL,
	[LoaiXe] [nvarchar](50) NULL,
	[NuocSX] [nvarchar](50) NULL,
	[SoPK] [real] NOT NULL,
	[SoKhung] [nvarchar](255) NULL,
	[SoSuon] [nvarchar](255) NULL,
	[MauXe] [nvarchar](255) NULL,
	[Gia] [real] NOT NULL,
	[ImgPath] [nvarchar](255) NULL,
	[NgayNhap] [datetime] NULL,
	[SoLuongKho] [int] NULL,
	[SoLuongBan] [int] NULL,
 CONSTRAINT [PK__Xe__272520CDE0D01F22] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FKChiTietHoa453357] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FKChiTietHoa453357]
GO
ALTER TABLE [dbo].[ChiTietSuaCHua]  WITH CHECK ADD  CONSTRAINT [FKChiTietSua507954] FOREIGN KEY([MaPhieuSuaChua])
REFERENCES [dbo].[PhieuSuaChua] ([MaPhieuSuaChua])
GO
ALTER TABLE [dbo].[ChiTietSuaCHua] CHECK CONSTRAINT [FKChiTietSua507954]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKHoaDon185048] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKHoaDon185048]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FKHoaDon785667] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FKHoaDon785667]
GO
ALTER TABLE [dbo].[LinhKien]  WITH CHECK ADD  CONSTRAINT [FKLinhKien546903] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[LinhKien] CHECK CONSTRAINT [FKLinhKien546903]
GO
ALTER TABLE [dbo].[LinhKien]  WITH CHECK ADD  CONSTRAINT [FKLinhKien980768] FOREIGN KEY([MaCTSuaChua])
REFERENCES [dbo].[ChiTietSuaCHua] ([MaCTSuaChua])
GO
ALTER TABLE [dbo].[LinhKien] CHECK CONSTRAINT [FKLinhKien980768]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FKNhanVien198658] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FKNhanVien198658]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FKNhanVien20148] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FKNhanVien20148]
GO
ALTER TABLE [dbo].[PhieuTiepNhan]  WITH CHECK ADD  CONSTRAINT [FKPhieuTiepN164359] FOREIGN KEY([MaPhieuSuaChua])
REFERENCES [dbo].[PhieuSuaChua] ([MaPhieuSuaChua])
GO
ALTER TABLE [dbo].[PhieuTiepNhan] CHECK CONSTRAINT [FKPhieuTiepN164359]
GO
ALTER TABLE [dbo].[PhieuTiepNhan]  WITH CHECK ADD  CONSTRAINT [FKPhieuTiepN189441] FOREIGN KEY([XeMaXe])
REFERENCES [dbo].[Xe] ([MaXe])
GO
ALTER TABLE [dbo].[PhieuTiepNhan] CHECK CONSTRAINT [FKPhieuTiepN189441]
GO
ALTER TABLE [dbo].[PhieuTiepNhan]  WITH CHECK ADD  CONSTRAINT [FKPhieuTiepN770440] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuTiepNhan] CHECK CONSTRAINT [FKPhieuTiepN770440]
GO
ALTER TABLE [dbo].[PhongBan]  WITH CHECK ADD  CONSTRAINT [FKPhongBan355080] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DaiLy] ([MaDaiLy])
GO
ALTER TABLE [dbo].[PhongBan] CHECK CONSTRAINT [FKPhongBan355080]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FKXe118015] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FKXe118015]
GO
